
<div align="center">
<% unless user_signed_in? %>

<%= link_to "Login Using E-mail", new_user_session_path, :class => 'navbar-link btn btn-default'  %> 
 <p>OR</p>

<%= link_to user_facebook_omniauth_authorize_path do %>
	<i class="fa fa-facebook circle"></i>
<% end %>
<%= link_to user_twitter_omniauth_authorize_path do %>
	<i class="fa fa-twitter circle"></i>
<% end %>
<%= link_to user_linkedin_omniauth_authorize_path do %>
	<i class="fa fa-linkedin circle"></i>
<% end %>
<%#= link_to "Sign in with Google", user_google_omniauth_authorize_path %>
</div>
<% end%>

 <% if user_signed_in? %>
	<%= link_to "Project Creation", new_product_path, :class => 'navbar-link btn btn-default' %>
	<%= link_to "projects View", products_path, :class => 'navbar-link btn btn-default' %>
	<%= link_to "Download Pdf", products_path(format: :pdf), :class => 'navbar-link btn btn-default' %>
 <% end %>

</div>

